
app/.htaccess
vendor/*
var/*
setup/*
pub/*
lib/*
generated/*
dev/*
app/app/*
app/etc/*
bin/*
phpserver/*
app/autoload.php
app/bootstrap.php
auth.json.sample
CHANGELOG.md
composer.json
composer.lock
COPYING.txt
grunt-config.json.sample
Gruntfile.js.sample
LICENSE.txt
LICENSE_AFL.txt
magento/
nginx.conf.sample
package.json.sample
SECURITY.md
.github/.htaccess
.github/CODE_OF_CONDUCT.md
.github/CONTRIBUTING.md
.github/ISSUE_TEMPLATE.md
.github/ISSUE_TEMPLATE/bug_report.md
.github/ISSUE_TEMPLATE/developer-experience-issue.md
.github/ISSUE_TEMPLATE/feature_request.md
.github/PULL_REQUEST_TEMPLATE.md
.editorconfig
.htaccess
.htaccess.sample
.php_cs.dist
.user.ini
/index.php
