<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="taller_tareauno" frontName="taller_tareauno">
            <module name="Taller_TareaUno"/>
        </route>
    </router>
</config>